<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .row {
      display: flex;
    }

    .col {
      display: flex;
      flex-direction: column;
    }

    .blue,
    .yellow,
    .green {
      padding: 10px;
      margin: 2px;
      border: 1px solid black;
      text-align: center;
    }

    .blue {
      background-color: blue;
    }

    .green {
      background-color: green;
    }

    .yellow {
      background-color: yellow;
    }
  </style>
  <title>
    <%= pageTitle %>
  </title>
</head>

<body>
  <h1>
    <%= pageTitle %>
  </h1>
